In [1]:
# nested if else
# loops

In [2]:
age=18
city="Jaipur"
# if age>=18   => (Age is eligible)
# eligible for vote

In [6]:
age=18
city="Jaipur"
if(age>=18):
    print("Age is eligible")
    
    if(city=="jaipur"):
        print("Eligible for voting")
    else:
        print("Not eligible for voting")
else:
    print("age is less than 18")

Age is eligible
Not eligible for voting

In [8]:
# looping statement

# for , while
'''
for(i=0; i<condition ;i++)

i=0
while(i<condition):
    i++
    
# for loop => 
'''

'\nfor(i=0; i<condition ;i++)\n\ni=0\nwhile(i<condition):\n    i++\n    \n# for loop => \n'

In [13]:
#using range 
# 0 upto  5  ( 5 is exlcusive)
# for(i=0; i<5; i++)
# range(start  , stop ,  [step=1] )

for i in range(1,10,3):
    print(i)

1
4
7

In [14]:
for i in range(0,5,1):
    print(i)

0
1
2
3
4

In [20]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

In [25]:
'''
for(i=1; i<10; i++){
  sum=0
  sum = sum+i
}
'''

# for i in range(1,11)
for count in range(1,41):
    if(count%3==0):
        print(count)

3
6
9
12
15
18
21
24
27
30
33
36
39

In [31]:
sum=0

for i in range(1,11):
    sum=sum+i
print(sum)

55

In [33]:
#product of all the number from 8 to 1
# 8*7*6*5*4*3*2*1
p1=1
for i in range(8,0,-1):
    p1 *=i
print(p1)

40320

In [35]:


for  x in "hey":
    print(x)

h
e
y

In [36]:
data="Jaipur"

for  x in data:
    print(x)

J
a
i
p
u
r

In [38]:
len("Jaipur")

6

In [46]:
# vowel are  ( a,e,i,o,u)
city="Jaipaura"

for index in range(0,len(city) ):
    print(index, city[index])

0 J
1 a
2 i
3 p
4 a
5 u
6 r
7 a

In [50]:
total=0
for i in "jaipr":
    if(i=="a" or i=='e' or i=='i' or i=='o' or i=='u'):
        print("Vowel",i)
        total +=1
        
print(total)

Vowel a
Vowel i
2

In [ ]:
#1 Run for loop and find the total sum of first 20 natural numbers
#2 Run for loop and find the total sum of last 20  3 digit natural numbers
#3 Run for loop and find the product & average of any 20 natural numbers
#4 print a multiplication table of a number given by a user
#5 find out the sum of the power of starting 6 number
  # 2**6
    # 2**1  +2 **2 +2**3  ......2**6

#6take a string from the user and find out the total consonent which are available
# in a string


# 7take a int number from the user and find out the total sum, average
# and the product of that numbers from 1 to the input provided only for odd values